<?xml version="1.0"?>
<launch>
    <rosparam file="$(find pmf_description)/config/motor.yaml" />

    <!-- Name and spawn pose -->
    <arg name="robot_name" default="pmf" />
    <arg name="start_x" default="0.0" />
    <arg name="start_y" default="0.0" />
    <arg name="start_z" default="0.2" />
    <arg name="start_yaw" default="0.0" />

    <group ns="$(arg robot_name)">
        <!-- Parse URDF file with specified arguments -->
        <param name="robot_description" command="$(find xacro)/xacro '$(find pmf_description)/urdf/pmf.urdf.xacro' robot_name:=$(arg robot_name) --inorder" />

        <!-- Pass parsed URDF to Gazebo model spawning service -->
        <node pkg="gazebo_ros" type="spawn_model" name="spawn_$(arg robot_name)" args="-urdf -param robot_description -model $(arg robot_name) -x $(arg start_x) -y $(arg start_y) -z $(arg start_z) -Y $(arg start_yaw)"/>

        <!-- Coupled with joint state publisher -->
        <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui">
            <param name="use_gui" value="False" />
        </node>

        <!-- Publish TF frames within URDF model -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" value="50.0" />
        </node>
    </group>
</launch>
