<?xml version="1.0"?>
<!-- Only launches robot in URDF, no controller working -->
<launch>

  <!-- Start up Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- Spawn PMF with specific settings modified -->
  <include file="$(find pmf_description)/launch/pmf.launch" >
    <!-- Name and spawn pose -->
    <arg name="robot_name" value="pmf" />

    <arg name="start_z" value="0.2" />
    <arg name="start_yaw" value="0.0" />
  </include>

</launch>