<?xml version="1.0"?>
<launch>

  <!-- Start up Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  <group ns="gazebo">
      <rosparam file="$(find pmf_description)/config/controller.yaml" />
  </group>
  <!-- Spawn PMF with specific settings modified -->
  <include file="$(find pmf_description)/launch/pmf.launch" >
    <arg name="robot_name" value="pmf" />
    <arg name="start_z" value="0.2" />
    <arg name="start_yaw" value="0.0" />
  </include>

  <!-- Scripts for PID controller -->
  <node pkg="pmf_simulation" name="get_angle" type="get_angle.py" output="screen" />
  <node pkg="pmf_simulation" name="pid_controller" type="pid_controller.py" output="screen" />

</launch>
